@import "variables/colors"

.SelectedUserInfo
    width: 250px
    height: 290px
    position: fixed
    bottom: -260px
    right: 0
    transition: all 0.2s
    .userBody
        height: 260px
        background-color: $primary
    .userHeader
        padding: 5px
        background-color: $secondary
        text-align: center
        font-weight: bold
        cursor: pointer
        .info
            float: right
            font-size: 20px
            font-weight: light
    &.visible
        bottom: 0px
    .userBody
        display: flex
        align-items: center
        justify-content: center
    table
        padding: 10px
        color: white
        width: 100%
        text-align: center
        border-spacing: 0
    td 
        border: 1px solid white