@import "variables/colors"

.MarketFooter
    overflow: auto
    margin-top: 5px
    padding-top: 5px
    border-top: 1px solid $black
    .status
        float: left
        background-color: $black
        color: white
        padding: 0 8px
        border-radius: 5px
        &.blocked
            background-color: red
    .limit
        float: left
        background-color: $black
        color: white
        padding: 0 8px
        border-radius: 5px
        margin-left: 5px
    .time
        float: right
        background-color: $black
        color: white
        padding: 0 8px
        border-radius: 5px
