@import "variables/colors"

.Logo
    padding: 3px
    display: inline-block
    margin-left: 10px
    .LogoImage
        width: 35px
        vertical-align: middle
        padding: 0
        margin: 0
        margin-right: 2px
    .LogoText
        color: $white
        vertical-align: middle
        font-size: 35px
        padding: 0
        margin: 0
        font-family: 'Ubuntu'
        font-weight: lighter
        position: relative
        bottom: 0px
