@import 'variables/colors'
@import 'variables/config'

.AccountPage
    height: calc(100vh - #{$headerHeight} - 40px)
    background-color: $background
    margin-top: $headerHeight
    padding: 20px
    overflow: auto