@import "variables/colors"

.BetsList
    h3
        margin: 0
        font-size: 18px
        font-weight: lighter
    table
        width: 100%
        border-collapse: collapse
    thead
        border-bottom: 1px solid black
.BetsListHead
    margin-bottom: 5px
