@import "variables/colors"

.UserInfo
    color: $text-black
    float: right
    font-size: 20px
    position: absolute
    top: 5px
    right: 5px
    button
        margin: 0 3px
    a
        font-size: 14px
        text-transform: capitalize
        margin: 0 10px
        text-decoration: none
    .connection
        color: red
        position: relative
        top: 1px
        &.connected
            color: green

