.UserTree
    .blocked
        text-decoration: line-through
    .Username
        display: block
        font-weight: lighter
        padding: 8px 0
        cursor: pointer
        font-family: 'Ubuntu Mono'
        border-bottom: 1px solid black
        font-size: 18px
        &.childless
            padding-left: 22px
        .user
            padding: 0
            margin: 0
            margin-right: 5px
            &.online
                color: green
        .balance
            float: right
            margin-right: 8px
    ul
        list-style: none
        margin: 0
        padding-left: 23px
    .TreeToggleButton
        position: relative
        top: 1px
        padding-right: 5px
    .mdi-account-box
        position: relative
        top: 2px
        padding-right: 1px
