@import 'variables/colors'
@import 'variables/config'

$paddingTop: 50px
$userFont: 20px

.UsersBar
    width: $marketsbarWidth
    height: calc(100vh - #{$headerHeight} - #{$paddingTop})
    background-color: $light
    position: fixed
    top: $headerHeight
    right: 0
    box-shadow: 1px 0px 5px $black
    overflow: auto
    background-color: $light
    padding-top: $paddingTop
    z-index: 5
