@import "variables/config"
@import "variables/colors"

.Header
    box-shadow: 0px 1px 6px $black
    background-color: $primary
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 555
    height: $headerHeight
