@import "variables/colors"

.MarketHeader
    text-align: center
    border-bottom: 1px solid $black
    .inplayStatus
        float: left
        color: orange
        text-shadow: 0px 0px 5px orange
        &.inplay
            color: green
            text-shadow: 0px 0px 5px green
        &.closed
            color: red
    .close
        float: right
        cursor: pointer
        transition: all 0.2s
        &:hover
            color: red
