@import "variables/colors"

.UserAdder
    text-align: center
    padding: 0px 30px 30px 20px
    margin-top: 15px
    background-color: $background
    label.mdl-radio
        margin: 15px 5px 5px 5px
    button
        margin: 2px 5px
