@import 'variables/colors'
@import 'variables/config'

$paddingTop: 20px

.MarketsBar
    width: $marketsbarWidth
    height: calc(100vh - #{$headerHeight} - #{$paddingTop})
    background-color: $light
    position: fixed
    top: $headerHeight
    left: 0
    box-shadow: 1px 0px 5px $black
    overflow-y: scroll
    padding-top: $paddingTop
