@import "variables/colors"

.BetPlacer
    height: 100vh
    position: fixed
    top: 0
    left: 0
    background: rgba($black,0.3)
    width: 100%
    z-index: 555
    display: flex
    justify-content: center
    align-items: center
    .BetPlacerForm
        padding: 30px
        background-color: rgba($white, 0.8)
        button
            margin: 2px 5px
        label.mdl-radio
            margin: 15px 5px 5px 5px
        .Label
            input
                color: black
            label
                color: rgb(63,81,181) !important
