@import 'variables/config'
@import 'variables/colors'

.MarketsList
    margin-left: $marketsbarWidth
    margin-right: $marketsbarWidth
    height: calc(100vh - #{$headerHeight} - 40px)
    background-color: $background
    margin-top: $headerHeight
    padding: 20px
    overflow: auto
