@import 'variables/colors'

.EventList
    .EventHead
        display: block
        padding: 8px
        background-color: $primary
        color: $light
        cursor: pointer
        &:hover
            font-weight: bold
        .length
            color: $primary
            float: right
            background-color: $light
            padding: 0 5px
            font-style: normal
    ul
        margin: 0
        padding: 0
    li
        list-style: none
        padding-left: 8px
        margin: 5px 0
        font-family: 'ubuntu Mono'
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap
        font-size: 15px
        cursor: pointer
        .mdi
            margin-right: 5px
            color: black
            &.inplay
                color: green
            &.suspended
                color: orange
            &.closed
                color: red
        &:hover
            cursor: pointer
            font-weight: bold
        &.blocked
            text-decoration: line-through
