doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='shortcut icon', href='/admin/favicon.ico')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    title BetSpace
    link(href='/admin/static/css/main.b80511da.css', rel='stylesheet')
  body
    #root
    script(type='text/javascript', src='/admin/static/js/main.be05462e.js')
