doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='shortcut icon', href='/client/favicon.ico')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    title BetSpace
    link(href='/client/static/css/main.b0a832c0.css', rel='stylesheet')
  body
    #root
    script(type='text/javascript', src='/client/static/js/main.c74e09e8.js')
