doctype html
html
  head
    title Betspace
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.indigo-pink.min.css')
    script(defer='', src='https://code.getmdl.io/1.3.0/material.min.js')
    style(media='screen').
      html, body{
          padding: 0;
          margin: 0;
      }
      .root{
          background-image: url('/cricket.jpg');
          background-size: cover;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh
      }
      .loginForm{
          background-color: rgba(0,0,0,0.6);
          padding: 30px;
          text-align: center;
      }
      #errorMessage{
          color: red;
          text-align: center;
      }
      .logoImage{
          text-align: center;
      }
      .logo{
          width: 120px;
      }
      #username, #password{
          color: white;
          border-bottom: 1px solid white
      }
      .mdl-textfield__label{
          color: white; !important
      }
      #loginButton{
          background-color: rgba(255,255,255,0.8);
      }
  body
    .root
      .loginForm
        .logoImage
            img.logo(src="/betspace.png")
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#username.mdl-textfield__input(type='text')
          label.mdl-textfield__label(for='username') Username
        br
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#password.mdl-textfield__input(type='password')
          label.mdl-textfield__label(for='password') Password
        br
        p#errorMessage
        br
        button#loginButton.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(onclick='login()')
          | Login
  script.
    function login(){
        // get the values of username and password
        let username = document.getElementById('username').value
        let password = document.getElementById('password').value
        let body = JSON.stringify({
            username: username,
            password: password
        })
        // send those values to server
        let login = new Request('/login', {
            method: 'POST',
            redirect: 'follow',
            body: body,
            headers: new Headers({
                'Content-Type': 'application/json',
                Accept: 'application/json',
            }),
            credentials: 'include'
        })
        let status = null
        fetch(login).then(function(res) {
            status = res.status
            return res.text()
        }).then(function(res){
            // if the response is 200 restart the page
            if(status === 200) {
                location.reload()
                return
            }
            // else show the error message in error p tag
            document.getElementById('errorMessage').innerHTML = res
            })
    }
