@import "variables/colors"

html, body
    padding: 0
    margin: 0

#root
    height: 100vh
    overflow: hidden

::-webkit-scrollbar
    width: 5px

::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)

::-webkit-scrollbar-thumb
    -webkit-box-shadow: inset 0 0 6px $primary
    background-color: $primary

::-webkit-scrollbar-thumb:hover
    background-color: brown
