.BetsHistory
    padding-top: 10px
    .TableCenter
        display: flex
        align-items: center
        justify-content: center
    .BetsHistoryPanel
        p
            margin: 0
    .BetsHistoryFooter
        text-align: center
        padding-top: 3px