.Transactions
    p
        padding: 0
        margin: 0
    .TableCenter
        display: flex
        align-items: center
        justify-content: center
    .AddButton
        padding-top: 5px
        display: flex
        align-items: center
        justify-content: center