@import "variables/colors"

.WithdrawerForm
    background-color: $white
    padding: 30px
    .Label
        input
            color: black !important
        label
            color: rgb(63,81,181) !important
    button
        margin: 2px 5px
