.ModalOverlay
    background-color: rgba(black,0.5)
    position: fixed
    top: 0
    left: 0
    height: 100vh
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    z-index: 1000
