@import "variables/colors"

.UserInfo
    color: $text-black
    float: right
    font-size: 40px
    position: absolute
    top: 5px
    right: 5px
    .mdi
        font-weight: bold
        font-size: 16px
        margin-right: 2px
    button
        margin: 0px 2px
    .connection
        color: red
        position: relative
        top: -4px
        right: -4px
        &.connected
            color: green
