@import "variables/colors"

.RunnersRateList
    padding: 5px
    table
        width: 90%
        margin: 20px auto
        border-collapse: collapse
    td
        min-width: 80px
        max-width: 80px
        p
            padding: 0
            margin: 0
        &.name
            color: black
        &.selfProjection.profit
            span
                text-align: left
                color: green !important
                &::before
                    content: '+'
        &.selfProjection.loss
            span
                text-align: left
                color: red !important
    .RateCell
        border: 1px solid black
        width: 50px
        min-width: 50px
        max-width: 50px
        .size
            font-size: 10px
        .price
            font-weight: bold
            font-size: 17px
    .main
        &.back
            background: $betfair-back
        &.lay
            background: $betfair-lay
