.MarketBooks
    table
        min-width: 50%
        margin: 5px auto
        border-collapse: collapse
    td.username
        text-transform: uppercase
    td
        margin: 5px
    td.selfProjection
        border: 1px solid black
        font-size: 16px
    td.loss
        background-color: rgba(red,0.8)
    td.profit
        background-color: rgba(green,0.7)
        &::before
            content: '+'
