@import "variables/colors"

.UserLimitAdder
    text-align: center
    padding: 20px 30px 30px 30px
    margin-top: 15px
    background-color: $background
    label.mdl-radio
        margin: 15px 5px 5px 5px
    button
        margin: 2px 5px
